<!DOCTYPE html>
<html>
<head>
  <title>SoundTracks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :stylesheet_includes %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= nav_bar inverse: true, fixed: :top, responsive: true, brand: "Sound Tracks", brand_link: "#" do %>
      <%= menu_group :pull => :right do %>
        <p class="navbar-text">Signed in as <b><%= current_user.email %></b></p><%= menu_item "Log Out", destroy_user_session_path, :method => :delete %>
      <%end%>
  <% end %>
  <div class="container" align="center">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <%= form_for @search, url: root_url, method: "get" do|f| %>
            <div class="input-group">
              <%= f.text_field :artist_name, class: "form-control", maxlength: 100, placeholder: "Enter Artist Name" %>
              <span class="input-group-btn">
                <%= f.submit "Explore", class: "btn btn-success"%>
              </span>
            </div>
          <% end %>
        </div>
        <div class="col-md-3"></div>        
    </div>
    <div class="blank-separator"></div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-9"><%= yield%> </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <%= yield :javascript_includes %>
</body>
</html>
